.scrollCommponent{
    display: flex;
    justify-content: center;
}

.createPostContainer{
    display: flex;
    height: 10svh;
    width: 100%;
    padding-inline: 0.8rem;
    gap: 1.3rem;
    align-items: center;
    position: relative;
    background-color: rgb(255, 246, 246);
    border-radius: 20px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 80%;
}

.uploadButton{
    position: absolute;
    right: 0;
    bottom: -50%;
    background : rgb(109, 121, 172);
    color: white;
    border-radius: 10px;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    cursor: pointer;
}

.userProfile{
    border-radius: 100%;
    height: 60%;
    width: fit-content;
}

.Fab{
    background-color: rgb(50, 68, 167);
    border-radius: 100%;
    justify-content: center;
    display: flex;
}

.Fab > svg{
    width: fit-content;
    height: 40px;
    color: white;
}

.textAreaOfContent{
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
}

.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179,179,179);
}

.singleCard__profileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}

.singleCard__profileContainer > img{
    width: 10%;
    border-radius: 50%;
}

.singleCard__image{
    width: 100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
}

.singleCard__image > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}